[Desktop Entry]
Version=0.00000001
Name=My First programm
Comment=Start my first programm
Exec=/usr/bin/solsdev/startup.sh
Icon=/usr/share/icons/solsicons.ico
Terminal=true
Type=Application
Path=/usr/bin/solsdev/
StartupNotify=true
Hidden=false
